<div class="vh-100 d-flex flex-column main">
  <div class="bg-secondary px-2 d-flex justify-content-between align-items-center main__header">
    <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary w-100 d-flex justify-content-between">
      <a [routerLink]="['/market']">
        <h4 class="m-0 text-light">GameTrade</h4>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <ng-container *ngIf="!(isLogged$ | async); else userLoggedIn">
        <div class="d-flex justify-content-center align-items-center navbar-text">
          <a class="text-light" [routerLink]="['login']">Login</a>
          <a class="ml-3 text-light" [routerLink]="['new-user']">Novo Usuário</a>
        </div>
      </ng-container>
    </nav>
  </div>

  <div class="flex-fill bg-dark main__content">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #userLoggedIn>
  <div class="d-flex justify-content-center align-items-center navbar-text">

    <div class="btn-group">
      <button type="button" class="btn btn-secondary">
        {{ loggedUser.firstName }}
      </button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>

      <div class="dropdown-menu dropdown-menu-lg-right">
        <a class="dropdown-item" [routerLink]="['profile']">Meus jogos</a>
        <a class="dropdown-item" [routerLink]="['profile/edit']">Editar dados</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['market']" (click)="onLogout()">Sair</a>
      </div>
    </div>
  </div>
</ng-template>
