<ng-container *ngIf="!loading; else loadingData">
  <div class="market-list w-75 d-flex flex-wrap">
    <ng-container *ngFor="let product of productList; let i = index">
      <app-market-item
        class="product-item"
        [ngStyle]="{'animation-delay': 200*i + 'ms'}"
        [product]="product"
      (productPurchased)="onProductPurchased($event)"></app-market-item>
    </ng-container>
  </div>
</ng-container>


<ng-template #loadingData>
  <div class="w-100 d-flex justify-content-center mt-5">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
