<div class="container-fluid w-100">
  <div class="row">
    <div class="col-7 d-flex justify-content-center align-items-center game-trade-image">
      <div class="mb-5 p-5 w-75  game-trade-image__text">
        <div class="display-1 mb-3 text-light game-trade-image__text__header">Game Trade</div>
        <div class="lead text-light game-trade-image__text__subheader">O seu marketplace de jogos e consoles</div>
      </div>
    </div>
    <div class="col-5 login-section">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
